* {
    box-sizing : border-box;
    margin : 0;
    padding : 0;
 }
  
 body {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
/*    background: url('../images/leaves-small.jpg');
    background-repeat: no-repeat; */
  
 }
  
 h1 {
  font-size: 2.0em;
 }
  
 main {
 }

 .js-bookmark-list {
    margin-top: 10px;
    margin-bottom : 10px;
    padding: 10px;
    background-color: slategray;
    border-radius: 5px;
    max-width: 80%;
 }

 .add-button {
   padding: 5px;
   border-radius: 5px;
 }
  
 .select-rating {
   padding: 5px;
 }

 .bookmark-title {
    width: 100%;
    font-size: 1.2em;
 } 

 div.bookmark-list>a {
    color: black;
 }

 .delete-button, .cancel-button {
    padding: 2px;
    border-radius: 5px;
 }
  
 .add-bookmark-sumbit {
    padding: 3px;
    border-radius: 5px;
 }

 /* LOOK UP HOW FOR FORMAT THIS IN THAT BOOK LATER */
 label {
   display: block;
   padding-bottom: 3px;
 }

 input {
    display: block;
    padding-bottom: 3px;
 }
  
 /* @media screen and (min-width: 480px) {
   body {]
      background: url('../images/leaves.jpg')
   }
   
   .js-bookmark-list {
      max-width: 80%;
   }
 }
  
 @media screen and (min-width: 1024px) {
   body {]
      background: url('../images/leaves.jpg')
   }

   .js-bookmark-list {
      max-width: 75%;
   }
 }
 
 */