* {
    box-sizing : border-box;
    margin : 0;
    padding : 0;
 }
  
 body {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('../images/leaves-small.jpg');
    background-repeat: no-repeat;
    color: white;
  
 }
  
 h1 {
  font-size: 2.4em;
  font-family: 'Luckiest Guy', cursive;
  text-shadow: 2px 2px 0px rgba(23.1, 28, 21.8, 1);
 }
  
 main {
    font-size: 1.0em;
    font-family: 'Raleway', sans-serif;
    word-spacing: 0.15em;
    line-height: 25px;
 }

 .js-bookmark-list {
    margin-top: 10px;
    margin-bottom : 10px;
    padding: 10px;
    background-color: rgba(62.8, 76, 59.2, 0.5);
    border-radius: 5px;
    max-width: 80%;
 }

 .add-button {
   padding: 5px;
   border-radius: 5px;
 }

 .select-rating {
   padding: 5px;
   font-size: 1.1em;
   background-color: white;
 }

 .bookmark-title {
    width: 100%;
    font-size: 1.2em;
    border-radius: 5px;
 } 

 div.bookmark-list>a {
    color: white;
 }

 div.bookmark-list>a:hover {
    text-shadow: 1px 1px 0px #000000;
 }

 .delete-button, .cancel-button {
    padding: 2px;
    border-radius: 5px;
    margin: 5px;
 }


 .add-bookmark-submit {
    padding: 3px;
    margin: 3px;
    border-radius: 5px;
 }

 .add-bookmark-submit:hover, .cancel-button:hover, .add-button:hover, .bookmark-title:hover {
    background-color: rgba(23.1, 28, 21.8, 0.5);
    color: white;
 }

 .delete-button:hover {
    background-color: rgba(147, 30, 24, 0.5);
    color: white;
 }

 /* LOOK UP HOW FOR FORMAT THIS IN THAT BOOK LATER */
 label {
   display: block;
   font-size: 1.1em;
   padding-bottom: 3px;
   border-radius: 5px;
 }

 input {
    padding-bottom: 3px;
    border-radius: 5px;
    margin: 5px;
 }

 fieldset>button {
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
 }

  
 @media screen and (min-width: 480px) {
   body {
      background: url('../images/leaves.jpg');
      font-size: 1.2em;
   }
   
   .js-bookmark-list {
      max-width: 80%;
   }

   h1 {
      font-size: 2.8em;
   }

   main {
      word-spacing: 0.18em;
      line-height: 30px;
   }
 }
  
 @media screen and (min-width: 1024px) {
   body {
      background: url('../images/leaves.jpg');
      font-size: 1.3em;
   }

   .js-bookmark-list {
      max-width: 80%;
   }

   h1 {
      font-size: 3em;
   }
   main {
      word-spacing: 0.2em;
      line-height: 30px;
   }
 }