* {
    box-sizing : border-box;
    margin : 0;
    padding : 0;
 }
  
 body {
  
 }
  
 h1 {
  
 }
  
 main {
  
 }

 .js-bookmark-list {
    margin-bottom : 20px;
 }
  
 .hidden {
    /* display : none; */
 }
  
 .add-button {
   
 }
  
 .select-rating {
  
 }
  
 .delete-button {
  
 }
  
 .add-bookmark-form {
  
 }
  
 .add-bookmark-sumbit {
  
 }
  
 @media screen and (min-width: 480px) {
  
 }
  
 @media screen and (min-width: 1024px) {
  
 }
 
 